page-evaluation {
  ion-content {
    & .scroll-content {
      margin-bottom: 0 !important;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;

    & .fields {
      flex: 1;

      ion-item {
        padding-left: 0;
      }
    }
  }
}
