page-home {
  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  .home-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .home-current-date {
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
  }

  .home-avaliacao {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
